<% if(theme.google_ad) { %>

<!-- google通用广告 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= theme.google_ad.client_id %>" crossorigin="anonymous"></script>

<div class="mb-2" style="display:inline-block;width:300px;height:200px">
    <ins class="adsbygoogle" style="display:block" data-ad-client="<%= theme.google_ad.client_id %>" data-ad-slot="<%= theme.google_ad.slot_id %>"></ins>
</div>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- / -->

<% } %>