<% if(theme.google_ad) { %>

<!-- google通用广告 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= theme.google_ad.client_id %>" crossorigin="anonymous"></script>
 
<div style="width:300px;height:200px;border:1px solid lightgrey">
    <ins class="adsbygoogle" style="display:block" data-ad-client="<%= theme.google_ad.client_id %>" data-ad-slot="<%= theme.google_ad.slot_id %>" data-ad-format="auto" data-full-width-responsive="true"></ins>
</div>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- / -->

<% } %>