<nav class="navbar navbar-expand-lg shadow" style="background:#be58f1">

    <!-- logo -->
    <a class="navbar-brand text-white" href="/"><%= config.title %></a>

    <!-- nav -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/">首页</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/archives/">
                <i class="bi-search mr-1"></i>搜索
            </a>
        </li>    
        -->
    </ul>

    <!-- search -->
    <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
            <input class="form-control" name="keyword" style="background:none;color:white;width:20vw">
            <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit">搜索</button>
            </div>
        </div>
    </form>

</nav>

<script>
    document.querySelector("form").addEventListener('submit', e => {
        e.preventDefault()
        const data = new FormData(e.target)
        let keyword = data.get('keyword')
        window.location = `/archives/?keyword=${keyword}`
    })
</script>