.page-link {
    color: #6c757d;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-link.active {
    z-index: 3;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

@media screen and (max-width: 600px) {
    .post.navbar {
        visibility: hidden;
        display: none;
    }
}